* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: rgb(40, 1, 113);
    padding: 1rem;
    position: fixed;
    width: 100%;
    font-family: Oswald;
    z-index: 1000;
    top: 0;
    text-align: center;
}   

.header.p{
    height: auto;
    display: none;
}

.CharacterHint {
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.scoreboard {
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    padding:10px
}

.webtab {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: auto;
    margin-top: 50px;
    text-align: center;
}

.link {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    display: flex;
    margin: 12px auto;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
}

#active {
    background-color: lightblue;
}

.charactertext {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
    padding: 10px;
    /* flex-basis: 100%; */
}

.ResponseList {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: auto;
    overflow: hidden;
}

.Response {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    display: flex;
    margin: 15px;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.Response img {
    width:300px;
}