@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(40, 1, 113);
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    font-family: Oswald;
    z-index: 1000;
    top: 0;
}   

body {
    margin-top: 4rem;
    background-color: #e3d9ff;
}

header.h1 {
    position: relative;
}

.menu {    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu li {
    align-content: center;
    min-width: 5rem;
}

.menu li a{
    display: block;
    padding: 1rem;
    color: rgb(64, 166, 132);
}

.menu li a:hover {
    color: #EEE;
    background-color: rgba(0,0,0,0.3);
}

.container {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumb {
    position: relative;
    /* whichever way you style width make it consistent */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 35%;
    /* flex: 0 0 30%;
    width: 30%; */
    display: flex;
    overflow: hidden;
    margin: 24px auto;
    justify-content: space-around;
}

/* prepare initial state for image trnasform */
.thumb img {
    display: flex;
    transform: scale(1.1);
    transform: rotate(0deg);
    transition: all 1s ease;
    
}

.thumb:hover img {
    transform: scale(1.5) rotate(-5deg);
}

.mask {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    transition: all 1s ease-in-out;
}

.mask h2 {
    margin:0;
}

.mask p {
    font-style: italic;
}

.thumb:hover .mask {
    opacity: 1;
}

.thumb .mask h2, 
.thumb .mask p, 
.thumb .mask a {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.thumb:hover .mask h2, 
.thumb:hover .mask p, 
.thumb:hover .mask a {
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 12px;
    }

}