@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(40, 1, 113);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    font-family: Oswald;
    z-index: 1000;
    top: 0;
    text-align: center;
    transition: all 0.5s;
}   



header.h1 {
    position: relative;
}

.menu {    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    transition: max-height 0.5s ease-in-out;
    
}

.menu li {
    align-content: center;
    min-width: 5rem;
}

.menu li a{
    display: flex;
    padding: 1rem;
    color: rgb(64, 166, 132);
    flex-direction: row;
    transition: all 0.5s;
    align-self: center;
}

.menu li h1 a{
    text-decoration: none;
    justify-content: center;
}

.menu li a:hover {
    color: #EEE;
    background-color: rgba(0,0,0,0.3);
}

.menu li p {
    display: flex;
    padding: 1rem;
    color: rgb(64, 166, 132);
    flex-direction: row;
    transition: all 0.5s;
    align-self: center;
    text-decoration: underline;
}

.menu li p:hover {
    color: #EEE;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.menu ul li {   
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.dropdownmenu1 {
    display: flex;
    padding: 0;
    position: absolute;
    transition: all 0.75s ease-out, top 0s 0.75s;
    top: -50px;
    left:0;
    min-width: 5rem;
    width: 100%;
    box-shadow: none;
    max-height: 0;  
    z-index: -10;
    opacity: 0;
}

  .menu li p.hovermenu:hover ~ .dropdownmenu1,
  .dropdownmenu1:hover
  {
    display:flex;
    flex-direction: row;
    top:56px;
    min-width: 5rem;
    max-height: 100%;
    width: 100%;
    background-color: rgb(40, 1, 113);
    opacity: 1;
    overflow: visible;
    transition: all 0.75s ease-out, top 0s;
  }

img {
    margin-left: auto;
    margin-right: auto;
    width:30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

body {
    margin-top: 4rem;
    background-color: #e3d9ff;
}

h3 {
    padding-top: 2rem;
    width:70%;
    align-items: center;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 12px;
    }
}