html,
body {
    margin: 0;
}

div {
    border: 1px solid red;
    padding: 10px;
}

/* absolute positions with no parent will be
positioned in relation to the browser window */
.abs-no-parent {
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    right: 100px;
}


.rel-parent{
    background-color: blueviolet;
    width: 50%;
    height: 100vh;
    /* % of viewport height */
    position:relative;
}

.abs-rel-parent {
    background-color:rgb(12,237,16);
    bottom: 10px;
    position:absolute;
    width: 200px;
    height: 200px;
    right:0;
}

header {
    background-color: darkorange;
    height:100px;
    width: 100%;
    position: fixed;
    z-index: 100;
}